/* development */
body {
  border: 1px solid blue; }

header, nav, section, article, aside, footer {
  border: 2px solid red; }

/* basic */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black; }

body {
  height: 100vh;
  padding: 0.5vh;
  min-width: 320px; }

header, nav, section, article, aside, footer {
  padding: 1vh;
  border-radius: 1vh; }

header, #proj_menu, section {
  margin-bottom: 0.5vh; }

section, article, aside {
  overflow-y: scroll;
  overflow-x: hidden; }

/* colors */
/* Mobile */
header {
  flex: 0 0 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }

section {
  flex: 1;
  height: 82vh; }

footer {
  flex: 0 0 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer span {
    margin: 2vh; }
  footer a, footer i {
    padding: 1vh; }
  footer .devinfo {
    display: none; }

/* navigation 4 mobiles */
.hide {
  display: none; }

#logo {
  display: none; }

#proj_menu {
  position: fixed;
  height: 82vh;
  min-width: 50vw; }
  #proj_menu ul ul {
    display: none; }
  #proj_menu ul li:hover ul {
    display: block; }

/* iPad 3 & 4 */
@media only screen and (min-device-width: 768px) {
  body {
    display: flex;
    flex-flow: column; }
  header, footer {
    flex: 0 0 8vh; }
  #menu {
    position: relative; }
  section {
    display: flex; }
    section article {
      flex: 2; }
    section aside {
      flex: 1; }
  footer {
    justify-content: space-between;
    align-self: initial; }
    footer .devinfo {
      display: block; }
  /* navigation 4 tabletts*/
  #menu_btn {
    display: none; }
  #logo {
    display: block; }
  #proj_menu {
    display: block;
    position: relative;
    height: auto; }
    #proj_menu ul {
      display: flex;
      align-items: center;
      list-style: none; }
      #proj_menu ul li {
        padding-right: 3vh; }
    #proj_menu a {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      cursor: pointer; }
    #proj_menu ul ul {
      display: none;
      position: absolute; }
      #proj_menu ul ul a {
        display: block;
        text-align: left; }
    #proj_menu ul li:hover ul {
      display: block; } }

/* desktop */
