/* basic */
*
	box-sizing: border-box
	font-family: 'Open Sans', sans-serif
	list-style-type: none
	text-decoration: none
	margin: 0
	padding: 0
	color: black

body
	height: 100vh
	padding: 0.5vh
	min-width: 320px
	
header, nav, section, article, aside, footer
	padding: 1vh
	border-radius: 1vh

header, #proj_menu, section
	margin-bottom: 0.5vh

section, article, aside
	overflow-y: scroll;
	overflow-x: hidden;