/* iPad 3 & 4 */

@media only screen and (min-device-width: 768px)
	
	body
		flex-flow: column
	
	header, footer
		flex: 0 0 8vh
	
	section
		display: flex
		
		article
			flex: 2
		
		aside
			flex: 1
	
	footer
		justify-content: space-between
		align-self: initial
		
		.devinfo
			display: block
	
	@import 'navbar'
