/* Mobile */

body
	display: flex
	flex-flow: row wrap

header
	flex: 0 0 100%
	height: 8vh
	
	display: flex
	justify-content: space-between
	align-items: center

#navbar
	display: none

section
	flex: 1
	height: 82vh

footer
	flex: 0 0 100%
	height: 8vh
	
	display: flex
	justify-content: center
	align-items: center
	
	span
		margin: 2vh
	
	a, i 
		padding: 1vh
	
	.devinfo
		display: none 

@import 'navslide'
