/* navigation 4 tabletts*/

#menu_btn
	display: none

#logo
	display: block

#proj_menu
	display: block
	position: relative
	height: auto
		
	ul
		display: flex
		align-items: center
		list-style: none
		
		li
			padding-right: 3vh
		
	a
		display: inline-block
		text-align: center
		text-decoration: none
		cursor: pointer
		
	ul ul
		display: none
		position: absolute
		
		a
			display: block
			text-align: left
		
	ul li:hover ul
		display: block

