/* navigation 4 tabletts*/

#menu-btn
	display: none

#logo
	display: block

#navbar
	display: block
		
	ul
		display: flex
		align-items: center
		list-style: none
		
		li
			padding-right: 3vh
		
	.dropbtn, .btn
		display: inline-block
		text-align: center
		text-decoration: none
		cursor: pointer
		
	.droplist
		display: none
		position: absolute
		
		a
			display: block
			text-align: left
	
	.dropdown:hover, dropdown:active
		background-color: pink
	
	.dropdown:hover .droplist
		display: block

